.FancyBorder {
  padding: 10px 10px;
  border: 10px solid;
}

.FancyBorder-blue {
  padding: 10px 10px;
  border: 10px solid;
  border-color: blue;
}

.Dialog-title {
  margin: 0;
  font-family: sans-serif;
  color:red;
}

.Dialog-message {
  font-size: larger;
}